.app {
  width: 400px;
  padding: 10px;
}

.content {
  font-size: 14px;
}

.summary {
  .row {
    margin: 5px 0;
  }
}

.ner-title {
  margin: 10px 0;
}

h3 {
  font-size: 16px;
}

.articles {
  .article {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    color: black;
    text-decoration: none;

    &:hover {
      h4 {
        text-decoration: underline;
      }
    }
  }

  h4 {
    color: #00278e;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .summary {
    margin-top: 5px;
  }
}

.nav-link {
  color: black;
  text-decoration: none;

  &.active {
    font-weight: bold;
  }
}

.links {
  margin-bottom: 20px;
  font-size: 18px;

  .nav-link {
    margin-right: 30px;
  }
}