.app {
  width: 400px;
  padding: 10px;
}

.content {
  font-size: 14px;
}

.title {
  margin-top: 0;
}

.word {
  padding: 5px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.description {
  margin: 10px 0;
}

.summary {
  .row {
    margin: 5px 0;
  }
}

.ner-title {
  margin: 10px 0;
}

h3 {
  font-size: 16px;
}