#articles-summary-ner-popup {
    position: absolute;
    max-width: 250px;
    max-height: 175px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    z-index: 10000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}
